upload_max_filesize={{ getenv "NUPHP_UPLOAD_MAX_FILESIZE" "2M"}}
post_max_size={{ getenv "NUPHP_POST_MAX_FILESIZE" "8M"}}
memory_limit={{ getenv "NUPHP_MEMORY_LIMIT" "128M"}}
expose_php={{ getenv "NUPHP_EXPOSE_VERSION" "Off"}}
session.cookie_httponly={{ getenv "NUPHP_SESSION_COOKIE_HTTPONLY" "On"}}
session.cookie_secure={{ getenv "NUPHP_SESSION_COOKIE_SECURE" "Off"}}
session.name={{ getenv "NUPHP_SESSION_NAME" "PHPSESSID"}}
session.save_handler={{ getenv "NUPHP_SESSION_SAVE_HANDLER" "files"}}
session.save_path={{ getenv "NUPHP_SESSION_SAVE_PATH" ""}}
